<nav class="navbar">
  <div class="navbar__container">
    <a class="logo" href="/">
      <i class="fas fa-pen-square"></i>
      <b>{{ .Site.Title }}</b>
    </a>
    <i class="fas fa-bars hide phone-menu"></i>
    <ul>
      <li>
        <a href="/posts/">
          <i class="fas fa-rss"></i>
          <span>التدوينات</span>
        </a>
      </li>
      <li>
        <a href="/tags/">
          <i class="fas fa-hashtag"></i>
          <span>المواضيع</span>
        </a>
      </li>
      <li>
        <a href="/categories/">
          <i class="fas fa-th-large"></i>
          <span>الأقسام</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
