<div class="contact-us section-container" id="contact-us">
  <div class="contact-us__container">
    <h2>تواصل معنا</h2>
    <div class="contact-us__container__display">
      <div class="contact-us__form">
        <form>
          <label>
            <span>الاسم</span>
            <input type="text" name="name" required />
          </label>
          <label>
            <span>البريد الإلكتروني</span>
            <input type="email" name="email" required />
          </label>
          <label>
            <span>الرسالة</span>
            <textarea cols="30" rows="15" required></textarea>
          </label>
          <button type="submit">إرسال</button>
        </form>
      </div>
      <div class="contact-us__info">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3610.178510024373!2d55.27218771538084!3d25.19720183788287!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f43348a67e24b%3A0xff45e502e1ceb7e2!2sBurj%20Khalifa!5e0!3m2!1sen!2sus!4v1620236209904!5m2!1sen!2sus"
          width="100%"
          height="400"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
        ></iframe>
        <div class="info">
          <div>
            <span>
              <i class="fas fa-map-marker-alt"></i>
              <b>العنوان</b>
            </span>
            <h3>1 بوليفارد الشيخ محمد بن راشد - وسط مدينة دبي - دبي</h3>
          </div>
          <div>
            <span>
              <i class="fas fa-envelope"></i>
              <b>البريد الإلكتروني</b>
            </span>
            <h3>example@example.com</h3>
          </div>
          <div>
            <span>
              <i class="fas fa-phone"></i>
              <b>الهاتف</b>
            </span>
            <h3>00 00000 000000</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
