<footer>
  <div class="footer-container">
    <div>
      <p>جميع الحقوق محفوظة &copy; أكاديمية حسوب</p>
    </div>
    <div>
      <div class="social-media">
        <ul>
          <li>
            <a href="#"><i class="fab fa-facebook-square"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-twitter-square"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
