<section class="projects section-container" id="projects">
  <div class="projects__container">
    <h2>معرض الأعمال</h2>
    <h3>أحدث الأعمال التى قمنا بتنفيذها</h3>
    <div class="projects-display">
      <div class="projects-display__container">
        {{ range (where .Site.RegularPages "Section" "projects").Reverse }}
          <div class="project-card">
            <div class="project-card__container">
              <div class="project-head">
                <a href="{{ .RelPermalink }}">
                  <img src="{{ .Params.thumb }}" alt="project" />
                </a>
              </div>
              <div class="project-body">
                <a class="project-body__title" href="{{ .RelPermalink }}"
                  >{{ .Title }}</a
                >
                <p class="project-body__description">
                  {{ truncate 60 .Params.summary }}
                </p>
              </div>
            </div>
          </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
